.chat {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.message_list {
  display: flex;
  flex-direction: column;
  max-height: 200px;
  /* border: 1px solid gray; */
  overflow-y: scroll;
  gap: 12px;
  margin-top: 12px;
}
